version: '2'

services:
  permission-adapter-1:
    image: 'docker.io/bitnami/minideb'
    command: bash -c "chown -R 1001 /data-1  /nodes-conf-1 && chmod -R 777 /data-1 /nodes-conf-1"
    volumes:
      - './data-1:/data-1'
      - './nodes-conf-1:/nodes-conf-1'
  redis-node-1:
    image: 'docker.io/bitnami/redis:6.0-debian-10'
    container_name: redis-node-1
    environment:
      - REDIS_PASSWORD=password123
    ports:
      - '6000:6379'
    volumes:
      - './data-1:/bitnami/redis/data'
      - './redis.conf:/opt/bitnami/redis/mounted-etc/redis.conf'
      - './nodes-conf-1:/opt/bitnami/redis/nodes-conf'
    depends_on:
      - permission-adapter-1
  permission-adapter-2:
    image: 'docker.io/bitnami/minideb'
    command: bash -c "chown -R 1001 /data-2  /nodes-conf-2 && chmod -R 777 /data-2 /nodes-conf-2"
    volumes:
      - './data-2:/data-2'
      - './nodes-conf-2:/nodes-conf-2'
  redis-node-2:
    image: 'docker.io/bitnami/redis:6.0-debian-10'
    container_name: redis-node-2
    environment:
      - REDIS_PASSWORD=password123
    ports:
      - '6001:6379'
    volumes:
      - './data-2:/bitnami/redis/data'
      - './redis.conf:/opt/bitnami/redis/mounted-etc/redis.conf'
      - './nodes-conf-2:/opt/bitnami/redis/nodes-conf'
    depends_on:
      - permission-adapter-2